<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Jouretmenu.com{% endblock %}</title> {% block
stylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

<link type="text/css" rel="stylesheet"
	href="{{ asset('css/bootstrap.css' )  }}" />
<link type="text/css" rel="stylesheet"
	href="{{ asset('css/perso.css' )  }}" />

<link type="text/css" rel="stylesheet"
	href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:300,400,500')}}">

<link type="text/css" rel="stylesheet"
	href="{{ asset('css/bootstrap-responsive.css' )  }}" />
<link type="text/css" rel="stylesheet"
	href="{{ asset('css/bootstrap-datetimepicker.css' )  }}" />
<link type="text/css" rel="stylesheet"
	href="{{ asset('css/font-awesome.css')  }}" />
<link type="text/css"
	href="{{ asset('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')  }}"
	rel="stylesheet">





</head>
<body style="margin-top: 50px; background-color: #FAFAFC;"
	onload="initialize()">
<div class="container">
	{% include "::modulesUsed/client/dash_client.html.twig" %} {% block body %}
	
	
	
	 {% endblock %} </div>
	
	
	{% block javascripts %}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script
		src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	<script
		src="{{ asset('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')}}"></script>
	<script
		src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js') }}"></script>


	<script src="{{ asset('//code.jquery.com/jquery-1.11.3.min.js') }}"></script>
	<script
		src="{{ asset('//code.jquery.com/jquery-migrate-1.2.1.min.js') }}"></script>

	<script src="{{ asset('js/jquery-ui.js')  }}"></script>
	<script src="{{ asset('js/main.js')  }}"></script>
	<script src="{{ asset('js/jquery.js')  }}"></script>
	<script src="{{ asset('js/bootstrap.js')  }}"></script>
	<script src="{{ asset('js/bootstrap-datetimepicker.js')  }}"></script>
	<script type="text/javascript"
		src="{{ asset('js/faye-browser-min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/faye-browser.js') }}"></script>
	{# <script src="{{ asset('js/faye-browser-min.js') }}"></script>#}
	<!--SVG injection script - contains the inline SVG Data-->
	<script type="text/javascript"
		src="{{ asset('http://localhost:8888/JourEtMenu/node/client.js') }}"></script>
	
	
	
	
	 {% endblock %}

<script >
	 $('#ex1').bootstrapSlider({
	  formatter: function(value) {
		    return 'Current value: ' + value;
		  }
		});
	 </script>
	<script>


$('.media').each(function() {
	  var $this = $(this);
	  $this.popover({
	    trigger: 'hover',
	    placement: 'right',
	    html: true,
	    content: $this.find('.userInfo').html() 
	    
	  });
	  
	});
	</script>


	<script>
    $(function(){
        var scroller = $('#scroller div.innerScrollArea');
        var scrollerContent = scroller.children('ul');
        scrollerContent.children().clone().appendTo(scrollerContent);
        var curX = 0;
        scrollerContent.children().each(function(){
            var $this = $(this);
            $this.css('left', curX);
            curX += $this.outerWidth(true);
        });
        var fullW = curX / 2;
        var viewportW = scroller.width();

        scroller.css('overflow-x', 'auto');
    });
	</script>



	<script>
            var autocomplete;
            function initialize() {
              autocomplete = new google.maps.places.Autocomplete(
                  /** @type {HTMLInputElement} */
                  (document.getElementById('autocomplete')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              });
            }
        </script>



	<script>
$(".form_datetime").datetimepicker({
        format: "dd MM yyyy - HH:ii P",
        showMeridian: true,
        autoclose: true,
        todayBtn: true,
        language: 'fr'
    });
</script>



 


	<script>
	
</script>





	<script>
      function outputUpdate(vol) {
    	  document.querySelector('#volume').value = vol;
    	  }
    </script>



	<script>
	$(document).ready(function () {
	  $('[data-toggle="offcanvas"]').click(function () {
	    $('.row-offcanvas').toggleClass('active')
	  });
	});
    	  </script>


</body>



</html>

