<nav class="navbar  navbar-inverse navbar-static-top" style="margin-bottom: 0px; ">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ path('acceuil_restaurateurs')  }}">
				{{ app.user.nom }} </a>
			<ul class="nav navbar-nav pull-right">
				<li><a href="{{ path('restaurant_platsdujour') }}"> <span
						class=" icon  icon-food"></span> Plats du jour
				</a></li>
				<li><a href="{{ path('Menus') }}"> <span class=" icon  icon-list"></span>
						Menus
				</a></li>
				<li><a href="{{ path('mesResas_restaurateurs') }}"> <span
						class=" icon  icon-calendar"></span> Reservations
				</a></li>
				<li><a href="{{ path('addImages_restaurateurs') }}"><span
						class=" icon  icon-picture"></span> Photo </a></li>

			</ul>

		</div>
	</div>
</nav><div  " id="scroller"
		style=" height: 200px; text-align: center; background-color: #7D7165;  margin: 1px;" >
		<div class="innerScrollArea"  >
			<ul>

				{% for img in app.user.images %}
				<li><img class="img-polaroid" src="{{ asset(img.AssetPath)}}"
					width="290" height="350"></li> {% endfor %}

			</ul>
		</div>
	</div>
<div class="container">
	
	<hr>
	<div class="row" >
	<div class="col-xs-3 pull-right"
		style="background-color: black;border-radius:20px; border-color: #81553B; border-width: 11px; border-style: solid; height: 150px; width: 300px; text-align: center;">
		<h4 style="color: silver; font-style: italic;font-size:x-large; font-family: cursive;">
			 Ajourd'huit:<br><br> {%set a=app.user.platsDuJour|last %} {{ a.nom
			}} <br> {{ a.prix }}€
		</h4>
	</div>

